<li >
  <a class="managament__card" href="#">
    <img src="@@link" alt="image">
    <div class="managament__cardWrap">
      <div class="managament__name">
        <h3>@@name</h3>
        <span>@@profession</span>
      </div>
      <div class="managament__social">
        <ul class="managament__socialList">
          <li><a class="managament__socialItem" href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a class="managament__socialItem" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="managament__socialItem" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
      </div>
    </div>
  </a>
</li>