<section class="feedback" id="feddback">
  <div class="feedback__container container">
    <h2 class="feedback__title">What our clients say</h2>
    <div class="owl-carousel">
      <div>
        <div class="feedback__wrapper">
          <img src="images/slider-person.png" alt="slide-img">
          <p class="feedback__text">
            Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis
            leo,
            at sagittis mi pellentesque quis. Praesent nec elit tristique.
          </p>
          <span class="feedback__name">Larry Jane</span>
          <small class="feedback__profession">General Manager</small>
        </div>
      </div>
    </div>
  </div>
</section>