<footer class="footer" id="footer">
  <div class="footer__container container">
    <div class="footer__info">
      <div class="footer__infoItem">
        <h3 class="footer__infoTitle">About Fapor</h3>
        <p class="footer__description">
          We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to
          fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and
          a beautiful.
        </p>
      </div>
      <div class="footer__infoItem">
        <h3 class="footer__infoTitle">Contact Info</h3>
        <address class="footer__address">
          PO Box 17122 Nollins Street <br>
          5034 Los Angelos
        </address>
        <div class="footer__contacts">
          <div class="footer__contactLink">
            <span>Phone: <a href="tel:1800555.0658">1800555.0658</a></span>
          </div>
          <div class="footer__contactLink">
            <span>Email: <a href="mailto:support@fapor.com">support@fapor.com</a></span>
          </div>
          <div class="footer__contactLink">
            <span>Web: <a href="http://fapor.com">fapor.com</a></span>
          </div>
        </div>
        
      </div>
      <div class="footer__infoItem">
        <h3 class="footer__infoTitle">Subscribe to our newsletter</h3>
        <form action="#" class="footer__form">
          <input type="email" required placeholder="Enter your email address">
          <button type="submit">SUBSCRIBLE NOW</button>
        </form>
      </div>
    </div>
    <div class="footer__privacy">
      <div class="footer__privacyLeft">
       <span> &copy; 2016 Fapor by Respotheme</span>
      </div>
      <div class="footer__privacyright">
        <ul class="footer__social">
          <li class="footer__socialLink">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li class="footer__socialLink">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li class="footer__socialLink">
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
          </li>
          <li class="footer__socialLink">
            <a href="#"><i class="fas fa-basketball-ball"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>