<header class="header" id="header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="#"><img src="images/logo.png" alt="logo"></a>
    </div>
    <nav class="header__nav">
      <div class="header__hamburger">
        <span></span>
      </div>
      <ul class="header__navList">
        <li class="header__navItem">
          <a href="#about">Home</a>
        </li>
        <li class="header__navItem">
          <a href="#">About</a>
        </li>
        <li class="header__navItem">
          <a href="#managament">Service</a>
        </li>
        <li class="header__navItem">
          <a href="#">Portfolio</a>
        </li>
        <li class="header__navItem">
          <a href="#footer">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>